# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
*.pyc
*.swp
*.class

# =========================
# IDE Files
# =========================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Flutter generated
**/doc/api/
**/ios/Flutter/.last_build_id

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Generated APKs & Bundles
*.apk
*.aab

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# =========================
# Firebase
# =========================
firebase-debug.log
firebase-debug.*.log

# =========================
# Secrets (NEVER COMMIT)
# =========================
*.jks
*.keystore
key.properties
serviceAccountKey.json
google-services-desktop.json

# Environment files
.env
.env.*

# =========================
# Obfuscation / Symbols
# =========================
app.*.symbols
app.*.map.json

# =========================
# Misc
# =========================
.history/
.svn/
.atom/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/